 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 60px 0 0 113px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 15px 0 0 307px;
}

.u-section-1 .u-shape-1 {
  height: 362px;
  background-image: none;
  width: 510px;
  margin: 34px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 974px;
  margin: -315px auto 60px 113px;
}

.u-section-1 .u-image-1 {
  min-height: 481px;
  background-image: url("images\pic1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  min-height: 481px;
  background-image: url("images/pic2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 319px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.u-section-1 .u-image-3 {
  min-height: 319px;
  background-image: url("images/pic3.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 319px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 899px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 461px;
  }

  .u-section-1 .u-image-2 {
    min-height: 461px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-1 .u-image-3 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 679px;
  }

  .u-section-1 .u-image-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-2 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-1 .u-image-3 {
    min-height: 460px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2996px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.6875rem;
  }

  .u-section-1 .u-shape-1 {
    height: 663px;
    width: 491px;
    margin-top: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 491px;
    margin-top: -612px;
  }

  .u-section-1 .u-image-1 {
    min-height: 736px;
  }

  .u-section-1 .u-image-2 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 732px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2303px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-1 {
    width: 297px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 297px;
  }

  .u-section-1 .u-image-1 {
    min-height: 510px;
  }

  .u-section-1 .u-image-2 {
    min-height: 340px;
  }

  .u-section-1 .u-image-3 {
    min-height: 507px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 264px;
  }
}